<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Blog</title>
</head>
<body>
    <header>
        <h1>Django Blog</h1>
    </header>
    <article class="post">
        <p>Posted: {{ todays_date }}</p>
        <h3>What is a client?</h3>
            <p>A client is a device or web browser that sends requests to servers to access its information.</p>
        <h3>What is a server?</h3>
            <p>A server is a device or a program that sends responds to requests made by other programs or devices called clients.</p>
        <h3>What is an HTTP request?</h3>
            <p>An HTTP request is a protocol made from the client requesting data from the server using a URL. Common HTTP request methods are GET, POST, PUT or PATCH and DELETE. </p>
        <h3>What is an HTTP response?</h3>
            <p>An HTTP response is the message that the server sends back to the client after making a request. An HTTP response contains a status code, headers and a body.</p>
        <h3>What is Django and why do we use it?</h3>
            <p>Django is a 'web framework for perfectionist with deadlines.' It's a set of librares that provides us with code that helps with common tasks required to build a web app.</p>

    </article>

</body>
</html>